{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex items-center justify-center mt-10">
    <div class="bg-cards rounded-lg !h-[700px] w-[80%] md:w-[70%] lg:w-[50%] shadow-lg p-6">
        <h1 class="text-3xl font-dansketext mb-4 text-center">Add New Paycheck</h1>
        <hr class="my-5 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />
        <form method="post" action="#">
            {% csrf_token %}
            <div class="space-y-12">
                <div class="pb-12">
                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label for="id_amount" class="block text-sm font-dansketext leading-6 text-gray-900">
                                Paycheck Amount
                            </label>
                            <div class="mt-2">
                                <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-form_input focus-within:ring-2 focus-within:ring-inset focus-within:ring-form_outline sm:max-w-md">
                                    <input type="number" step="0.01" required name="amount" id="id_amount" class="block flex-1 border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="DKK 5000">
                                </div>
                            </div>
                        </div>

                        <!-- Pay Date Section -->
                        <div class="sm:col-span-4">
                            <label class="block text-sm font-dansketext leading-6 text-gray-900">
                                Pay Date
                            </label>
                            <div class="mt-2 flex space-x-2">
                                <div class="flex-1 rounded-md shadow-sm ring-1 ring-inset ring-form_input focus-within:ring-2 focus-within:ring-inset focus-within:ring-form_outline">
                                    <select name="pay_date_month" id="id_pay_date_month" required class="block w-full border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="flex-1 rounded-md shadow-sm ring-1 ring-inset ring-form_input focus-within:ring-2 focus-within:ring-inset focus-within:ring-form_outline">
                                    <select name="pay_date_day" id="id_pay_date_day" required class="block w-full border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>
                                <div class="flex-1 rounded-md shadow-sm ring-1 ring-inset ring-form_input focus-within:ring-2 focus-within:ring-inset focus-within:ring-form_outline">
                                    <select name="pay_date_year" id="id_pay_date_year" required class="block w-full border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                                        <option value="2024">2024</option>
                                        <option value="2022">2023</option>
                                        <option value="2022">2022</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                        <option value="2015">2015</option>
                                        <option value="2014">2014</option>
                                        <option value="2013">2013</option>
                                        <option value="2012">2012</option>
                                        <option value="2011">2011</option>
                                        <option value="2010">2010</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- End of Pay Date Section -->

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

    <form>
    {% csrf_token %}
    {{ form.as_p }}
    </form>
{% endblock %}