{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
{#    {% if validlink %}#}
        <section>
          <div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen">
              <div class="w-full p-6 bg-account-cards rounded-lg shadow md:mt-0 sm:max-w-md sm:p-8">
                  <h2 class="mb-1 text-center font-dansketext leading-tight tracking-tight md:text-2xl text-white">
                      Change your password
                  </h2>
                  <hr class="my-5 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />
                  {{ form.email.errors }}
                  <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" method="post">
                      {% csrf_token %}
                      {% if form.errors %}
                        <div class="bg-red-100 mb-3 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                            <strong class="font-bold text-gray-50">Oops!</strong>
                            <span class="block sm:inline text-warning">{{ form.errors }}</span>
                        </div>
                     {% endif %}
                      <div class="mb-3">
                          <label for="id_new_password1" class="block mb-2 text-sm font-medium text-gray-200 dark:text-white">New Password</label>
                            <div class="relative w-full">
                            <div class="absolute inset-y-0 right-0 flex items-center px-2">
                              <ion-icon id="visibility-toggle1" class="py-2 text-xl cursor-pointer text-gray-500" name="eye-off-outline"></ion-icon>
                            </div>
                            <input type="password" name="password1" id="password1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                        </div>
                        </div>
                        <div class="mb-3">
                          <label for="id_new_password2" class="block mb-2 text-sm font-medium text-gray-200 dark:text-white">Confirm New Password</label>
                            <div class="relative w-full">
                            <div class="absolute inset-y-0 right-0 flex items-center px-2">
                              <ion-icon id="visibility-toggle2" class="py-2 text-xl cursor-pointer text-gray-500" name="eye-off-outline"></ion-icon>
                            </div>
                            <input type="password" name="password2" id="password2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>

                        </div>
                      </div>
                      <button type="submit" class="w-full text-white bg-button hover:bg-button_hover focus:ring-4 focus:outline-none focus:ring-offset-button_hover font-medium rounded-lg text-sm px-5 py-2.5 text-center">Change Password</button>
                  </form>
              </div>
          </div>
        </section>
{#        {% else %}#}
{#        <section>#}
{#          <div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen">#}
{#              <div class="w-full p-6 bg-account-cards rounded-lg shadow md:mt-0 sm:max-w-md sm:p-8">#}
{#                  <h2 class="mb-2 text-warning text-xl font-dansketext leading-tight tracking-tight text-gray-200 md:text-2xl text-center">#}
{#                      Oops! something went wrong#}
{#                  </h2>#}
{#                  <hr class="my-5 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />#}
{#                  <p class="font-extralight text-gray-500 text-center mt-3 dark:text-gray-400">Oops! It seems like your password reset link has expired. Don't worry just return to the login page and request a new one!</p>#}
{#                  <a href="{% url 'account_login' %}"><button type="button" class="w-full mt-4 text-white bg-button hover:bg-button_hover focus:ring-4 focus:outline-none focus:ring-offset-button_hover font-medium rounded-lg text-sm px-5 py-2.5 text-center">Return to login</button></a>#}
{#              </div>#}
{#          </div>#}
{#        </section>#}
{#    {% endif %}#}
    <script>
        const visibilityToggle1 = document.getElementById('visibility-toggle1');
        const passwordInput1 = document.getElementById('id_new_password1');
        visibilityToggle1.addEventListener('click', () => {
            if (passwordInput1.type === 'password') {
                passwordInput1.type = 'text';
                visibilityToggle1.name = 'eye-outline';
            } else {
                passwordInput1.type = 'password';
                visibilityToggle1.name = 'eye-off-outline';
            }
        });

        const visibilityToggle2 = document.getElementById('visibility-toggle2');
        const passwordInput2 = document.getElementById('id_new_password2');
        visibilityToggle2.addEventListener('click', () => {
            if (passwordInput2.type === 'password') {
                passwordInput2.type = 'text';
                visibilityToggle2.name = 'eye-outline';
            } else {
                passwordInput2.type = 'password';
                visibilityToggle2.name = 'eye-off-outline';
            }
        });

    </script>
{% endblock %}