{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}

{% block content %}
<section>
  <div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen">
      <div class="w-full p-6 bg-account-cards rounded-lg shadow md:mt-0 sm:max-w-md sm:p-8">
          <h2 class="mb-1 text-xl text-center font-dansketext leading-tight tracking-tight md:text-2xl text-white">
              Reset your Password
          </h2>
          <hr class="my-5 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />

          <p class="font-extralight mt-3 text-gray-500 dark:text-gray-400 text-center">We have sent you instructions on how to reset your password! Don't see the e-mail? Remember to check the spam folder, or click on resend mail below</p>
          <a href="{% url 'password_reset' %}"><button id="resend-button" type="submit" class="mt-5 w-full text-white bg-button disabled:opacity-50 disabled:hover:bg-button hover:bg-button_hover focus:ring-4 focus:outline-none focus:ring-offset-button_hover font-medium rounded-lg text-sm px-5 py-2.5 text-center" disabled>Resend e-mail!</button></a>
          <p id="timer" class="text-center text-gray-500 dark:text-gray-400 mt-2">Resend email in: 60s</p>
      </div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let timerSpan = document.getElementById('timer');
    let resendButton = document.getElementById('resend-button');
    let countdown = 60;
    let timer;

    function startTimer() {
      countdown = 60;
      resendButton.disabled = true;
      timerSpan.textContent = `Resend email in: ${countdown}s`;

      timer = setInterval(function () {
        countdown--;
        timerSpan.textContent = `Resend email in: ${countdown}s`;

        if (countdown <= 0) {
          clearInterval(timer);
          resendButton.disabled = false;
          timerSpan.textContent = 'You can now resend the email';
        }
      }, 1000);
    }

    resendButton.addEventListener('click', function () {
      startTimer();
    });

    startTimer();  // Start the timer on page load
  });
</script>
{% endblock %}