{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="flex justify-center">
                <ion-icon class="text-5xl text-primary" name="wallet-outline"></ion-icon>
            </div>
            <h2 class="mt-7 text-center font-dansketext text-2xl font-bold leading-9 tracking-tight text-gray-900">
                Register a new account</h2>
        </div>

        <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-sm">
            <form class="space-y-6" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% if form.errors %}
                    <div>
                        <ul class="pt-5">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li class="text-warning text-center">{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <li class="text-warning text-center">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div>
                    <label for="id_username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
                    <div class="mt-2">
                        <input id="id_username" type="text" name="username" maxlength="150" required
                               autocomplete="username"
                               class="block w-full rounded-md border-0 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-button_hover sm:text-sm sm:leading-6"
                    </div>
                </div>
                <div class="mt-3">
                    <label for="id_first_name" class="block text-sm font-medium leading-6 text-gray-900">First
                        Name</label>
                    <div class="mt-2">
                        <input id="id_first_name" type="text" name="first_name" maxlength="30" required
                               autocomplete="given-name"
                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-button_hover sm:text-sm sm:leading-6"
                    </div>
                </div>
                <div class="mt-3">
                    <label for="id_last_name" class="block text-sm font-medium leading-6 text-gray-900">Last
                        Name</label>
                    <div class="mt-2">
                        <input id="id_last_name" type="text" name="last_name" maxlength="150" required
                               autocomplete="family-name"
                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-button_hover sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div class="mt-3">
                    <label for="id_email" class="block text-sm font-medium leading-6 text-gray-900">E-mail</label>
                    <div class="mt-2">
                        <input id="id_email" type="email" name="email" maxlength="320" required
                               class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-button_hover sm:text-sm sm:leading-6"
                    </div>
                </div>
                <div class="mt-3">
                    <label for="id_password1" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                            <ion-icon id="visibility-toggle1" class="py-2 text-xl cursor-pointer text-gray-500"
                                      name="eye-off-outline"></ion-icon>
                        </div>
                        <input id="id_password1" name="password1" type="password" autocomplete="current-password"
                               required
                               class="block w-full rounded-md border-0 py-1.5 pl-4 pr-10 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-button_hover sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div class="mt-3">
                    <label for="id_password2" class="block text-sm font-medium leading-6 text-gray-900">Confirm
                        Password</label>
                    <div class="relative w-full">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                            <ion-icon id="visibility-toggle2" class="py-2 text-xl cursor-pointer text-gray-500"
                                      name="eye-off-outline"></ion-icon>
                        </div>
                        <input id="id_password2" name="password2" type="password" autocomplete="current-password"
                               required
                               class="block w-full rounded-md border-0 py-1.5 pl-4 pr-10 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-button_hover sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit"
                            class="flex w-full justify-center rounded-md bg-button px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-button_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-5">
                        Sign up
                    </button>
                </div>
            </form>
            <p class="mt-10 text-center text-sm text-gray-500">
                Already have an account?
                <a href="{% url 'account_login' %}"
                   class="font-semibold leading-6 text-secondary hover:text-button_hover">Sign in now</a>
            </p>
        </div>
    </div>
    <script>
        const visibilityToggle1 = document.getElementById('visibility-toggle1');
        const passwordInput1 = document.getElementById('id_password1');
        visibilityToggle1.addEventListener('click', () => {
            if (passwordInput1.type === 'password') {
                passwordInput1.type = 'text';
                visibilityToggle1.name = 'eye-outline';
            } else {
                passwordInput1.type = 'password';
                visibilityToggle1.name = 'eye-off-outline';
            }
        });

        const visibilityToggle2 = document.getElementById('visibility-toggle2');
        const passwordInput2 = document.getElementById('id_password2');
        visibilityToggle2.addEventListener('click', () => {
            if (passwordInput2.type === 'password') {
                passwordInput2.type = 'text';
                visibilityToggle2.name = 'eye-outline';
            } else {
                passwordInput2.type = 'password';
                visibilityToggle2.name = 'eye-off-outline';
            }
        });

    </script>
{% endblock %}