{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto p-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
        <div>
            <h2 class="text-2xl font-semibold">Personal Information</h2>
            <p class="text-gray-600">Use a permanent address where you can receive mail.</p>
        </div>
        <form method="post" action="{% url 'user_info' %}" class="space-y-6">
            {% csrf_token %}
            {% if user_form.errors %}
            <div class="text-warning">
                <ul>
                    {% for field in user_form %}
                        {% for error in field.errors %}
                            <li class="text-warning">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in user_form.non_field_errors %}
                        <li class="text-warning">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% for message in messages %}
                {% if 'user_profile' in message.tags %}
                    <div class="mb-4">
                        <div class="text-accent {{ message.tags }}">{{ message }}</div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-span-2">
                <label for="first_name" class="block text-sm font-medium text-gray-700">First Name</label>
                <div class="mt-2">
                    <input id="first_name" name="first_name" type="text" placeholder="{{ user.first_name }}" autocomplete="given-name" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>
            <div class="col-span-2">
                <label for="last_name" class="block text-sm font-medium text-gray-700">Last Name</label>
                <div class="mt-2">
                    <input id="last_name" placeholder="{{ user.last_name }}" name="last_name" type="text" autocomplete="family-name" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>
            <div class="col-span-2">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <div class="mt-2">
                    <input id="email" name="email" type="email" placeholder="{{ user.email }}" autocomplete="email" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>
            <div class="col-span-2">
                <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                <div class="mt-2">
                    <input id="username" placeholder="{{ user.username }}" name="username" type="text" autocomplete="username" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>
            <div class="flex justify-start col-span-2">
                <button type="submit" name="update_user_info" class="flex mr-2 w-auto justify-center rounded-md bg-button px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-button_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-5">Save Changes</button>
            </div>
        </form>
    </div>
    <hr class="mt-10 border-black">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
        <div>
            <h2 class="text-2xl font-semibold">Change Password</h2>
            <p class="text-gray-600">Update your password associated with your account.</p>
        </div>
        <form method="post" action="{% url 'user_info' %}" class="space-y-6">
            {% csrf_token %}
            {% if password_form.errors %}
            <div class="text-warning">
                <ul>
                    {% for field in password_form %}
                        {% for error in field.errors %}
                            <li class="text-warning">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in password_form.non_field_errors %}
                        <li class="text-warning">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% for message in messages %}
                {% if 'password' in message.tags %}
                    <div class="mb-4">
                        <div class="text-accent {{ message.tags }}">{{ message }}</div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-span-2">
                <label for="id_old_password" class="block text-sm font-medium text-gray-700">Current Password</label>
                <div class="relative w-full mt-2">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                          <ion-icon id="visibility-toggle1" class="py-2 text-xl cursor-pointer text-gray-500" name="eye-off-outline"></ion-icon>
                        </div>
                        <input id="id_old_password" required name="old_password" type="password" autocomplete="given-name" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>
            <div class="col-span-2">
                <label for="id_new_password1" class="block text-sm font-medium text-gray-700">New Password</label>
                <div class="relative w-full mt-2">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                          <ion-icon id="visibility-toggle2" class="py-2 text-xl cursor-pointer text-gray-500" name="eye-off-outline"></ion-icon>
                        </div>
                    <input id="id_new_password1" required name="new_password1" type="password" autocomplete="family-name" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-primary focus:ring-primary sm:text-sm">
                </div>
            </div>
            <div class="col-span-2">
                <label for="id_new_password2" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                <div class="relative w-full mt-2">
                        <div class="absolute inset-y-0 right-0 flex items-center px-2">
                          <ion-icon id="visibility-toggle3" class="py-2 text-xl cursor-pointer text-gray-500" name="eye-off-outline"></ion-icon>
                        </div>
                        <input id="id_new_password2" required name="new_password2" type="password" autocomplete="family-name" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                </div>
            </div>
            <div class="flex justify-start col-span-2">
                <button type="submit" name="change_password" class="flex mr-2 w-auto justify-center rounded-md bg-button px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-button_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-5">Save Changes</button>
            </div>
        </form>
    </div>
    <hr class="mt-10 border-black">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
        <div class="md:col-span-1">
            <h2 class="text-2xl font-semibold">Delete Account</h2>
            <p class="text-gray-600">No longer want to use this service? You can delete your account here. This action is irreversible. All information related to your account will be deleted permanently!</p>
        </div>
        <div class="flex items-center md:justify-end md:col-span-1">
            <button id="delete_acc_btn" type="button" class="flex justify-center text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                Delete Account
            </button>
        </div>
    </div>
</div>
    <div id="modal" class="hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-50">
        <div class="bg-gray-800 p-4 rounded shadow-lg mobile-only:w-[95%] sm:w-[75%] md:w-[60%] lg:w-[50%] xl:w-[35%]">
            <div class="flex justify-end">
                <ion-icon name="close-outline" class="text-3xl text-gray-300"></ion-icon>
            </div>
            <div class="flex justify-center">
                <ion-icon name="alert-circle-outline" class="text-5xl text-gray-200"></ion-icon>
            </div>
            <div class="flex justify-center mt-4 font-dansketext text-2xl text-center text-gray-400">Are you sure you want to delete this account?</div>
            <p class="font-extralight mt-2 text-gray-500 dark:text-gray-400 text-center">This action is irreversible and all data associated with your account will be deleted.</p>
            <div class="flex flex-row justify-center mt-7">
                <form action="{% url 'delete_user' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" id="yes-btn" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                        Yes, I'm sure
                    </button>
                </form>
                <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
            </div>
        </div>
    </div>
    <script>
        const delete_acc_btn = document.getElementById('delete_acc_btn');
        const modal = document.getElementById('modal');
        const close_modal = document.querySelector('.bg-gray-800');
        const yes_btn = document.getElementById('yes-btn');
        const no_btn = document.querySelector('.bg-white');

        delete_acc_btn.addEventListener('click', () => {
            modal.classList.remove('hidden');
        });

        close_modal.addEventListener('click', () => {
            modal.classList.add('hidden');
        });


        no_btn.addEventListener('click', () => {
            modal.classList.add('hidden');
        });

        passwordToggle1 = document.getElementById('visibility-toggle1');
        passwordToggle2 = document.getElementById('visibility-toggle2');
        passwordToggle3 = document.getElementById('visibility-toggle3');
        passwordInput1 = document.getElementById('id_old_password');
        passwordInput2 = document.getElementById('id_new_password1');
        passwordInput3 = document.getElementById('id_new_password2');

        passwordToggle1.addEventListener('click', () => {
            if (passwordInput1.type === 'password') {
                passwordInput1.type = 'text';
                passwordToggle1.name = 'eye-outline';
            } else {
                passwordInput1.type = 'password';
                passwordToggle1.name = 'eye-off-outline';
            }
        });
        passwordToggle2.addEventListener('click', () => {
            if (passwordInput2.type === 'password') {
                passwordInput2.type = 'text';
                passwordToggle2.name = 'eye-outline';
            } else {
                passwordInput2.type = 'password';
                passwordToggle2.name = 'eye-off-outline';
            }
        });
        passwordToggle3.addEventListener('click', () => {
            if (passwordInput3.type === 'password') {
                passwordInput3.type = 'text';
                passwordToggle3.name = 'eye-outline';
            } else {
                passwordInput3.type = 'password';
                passwordToggle3.name = 'eye-off-outline';
            }
        });
    </script>
{% endblock %}