{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="no_accounts_section" class="relative z-10 h-full bg-primary py-[120px]">
   <div class="container mx-auto">
      <div class="-mx-4 flex">
         <div class="w-full px-4">
            <div class="mx-auto max-w-[400px] text-center">
               <h2
                  class="mb-2 text-[50px] font-bold leading-none text-white sm:text-[80px] md:text-[100px]"
                  >
                  <ion-icon name="mail-outline"></ion-icon>
               </h2>
               <h4
                  class="mb-3 text-[22px] font-semibold leading-tight text-white"
                  >
                  Please verify your email address
               </h4>
               <p class="mb-8 text-lg text-white">
                    We have sent you an email with a link to verify your email address. Please check your inbox.
               </p>
               <a
                  href="https://mail.google.com/mail/u/0/#inbox" target="_blank"
                  class="inline-block rounded-lg border border-white px-8 py-3 text-center text-base font-semibold text-white transition hover:bg-white hover:text-primary"
                  >
               Open Gmail
               </a>
            </div>
         </div>
      </div>
   </div>
   <div
      class="absolute top-0 left-0 -z-10 flex h-full w-full items-center justify-between space-x-5 md:space-x-8 lg:space-x-14"
      >
      <div
         class="h-full w-1/3 bg-gradient-to-t from-[#FFFFFF14] to-[#C4C4C400]"
         ></div>
      <div class="flex h-full w-1/3">
         <div
            class="h-full w-1/2 bg-gradient-to-b from-[#FFFFFF14] to-[#C4C4C400]"
            ></div>
         <div
            class="h-full w-1/2 bg-gradient-to-t from-[#FFFFFF14] to-[#C4C4C400]"
            ></div>
      </div>
      <div
         class="h-full w-1/3 bg-gradient-to-b from-[#FFFFFF14] to-[#C4C4C400]"
         ></div>
   </div>
</section>
<script>
    document.querySelector('#menuToggle').addEventListener('click', () => {
        let no_accounts_section = document.getElementById('no_accounts_section');
        no_accounts_section.classList.toggle('relative')
    })
</script>
{% endblock %}