Django
django-environ
gunicorn==22.0.0
psycopg2-binary==2.9.9
beautifulsoup4
requests
azure-ai-documentintelligence
Pillow
django-allauth
nordigen
django-allauth[mfa]
pyyaml
ua-parser
user-agents
django-user-agents
geoip2
pytest
pytest-django
django-browser-reload