{% extends "base.html" %}
{% block title %}Password reset{% endblock %}

{% block content %}
  <section class="!bg-account-cards mt-10">
        <div class="flex items-center justify-center px-6 py-8 mx-auto h-48 lg:py-0">
            <div class="w-full p-6 bg-account-cards rounded-lg shadow dark:border md:mt-0 sm:max-w-md sm:p-8">
                <h1 class="mb-2 text-accent text-xl font-dansketext leading-tight tracking-tight md:text-2xl text-center">
                    Password changed successfully!
                </h1>
                <hr class="my-5 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />
                <p class="font-extralight text-gray-500 dark:text-gray-400 text-center">Perfect! You have now changed your password, and can login with your new password on the login page!</p>
                <a href="{% url 'login' %}"><button id="resend-button" type="button" class="mt-5 w-full text-white bg-button disabled:opacity-50 disabled:hover:bg-button hover:bg-button_hover focus:ring-4 focus:outline-none focus:ring-offset-button_hover font-medium rounded-lg text-sm px-5 py-2.5 text-center">Login Now!</button></a>
            </div>
        </div>
    </section>
{% endblock %}