{% extends '../base.html' %}
{% load static %}
{% block content %}
    <div class="flex items-center justify-center mt-10">
        <div class="bg-cards rounded-lg h-[80%] w-[80%] mb-8 md:w-[70%] lg:w-[50%] shadow-lg p-6">
            <!-- Content goes here -->
            <h1 class="text-3xl font-dansketext mb-4 text-center">Add an account</h1>
            <hr class="my-5 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400"/>
            <form method="post" action="{% url 'add_account' %}">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                        <strong class="font-bold">Oops!</strong>
                        <span class="block sm:inline">Something went wrong. Please look over these errors.</span>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <li class="font-dansketext text-warning">{{ error }}</li>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                <div class="space-y-12">
                    <div class="pb-12">
                        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                            <div class="sm:col-span-4">
                                {% if form.errors %}
                                    <span class="font-dansketext text-warning">{{ form.errors.account_name }}</span>
                                {% endif %}
                                <label for="id_account_name"
                                       class="block text-sm font-dansketext leading-6 text-gray-900">
                                    Account Name
                                </label>
                                <div class="mt-2">
                                    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-form_input focus-within:ring-2 focus-within:ring-inset focus-within:ring-form_outline sm:max-w-md">
                                        <input type="text" maxlength="50" required name="account_name"
                                               id="id_account_name"
                                               class="block flex-1 border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                                               placeholder="Danske Opsparing">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="mt-7 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                            <div class="sm:col-span-4">
                                {% if form.errors %}
                                    <span class="font-dansketext text-warning">{{ form.errors.account_balance }}</span>
                                {% endif %}
                                <label for="id_account_balance"
                                       class="block text-sm font-dansketext leading-6 text-gray-900">
                                    Account Balance
                                </label>
                                <div class="mt-2">
                                    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-form_input focus-within:ring-2 focus-within:ring-inset focus-within:ring-form_outline sm:max-w-md">
                                        <input type="number" step="0.1" name="account_balance" id="id_account_balance"
                                               required
                                               class="block flex-1 border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                                               placeholder="DKK 4000">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="mt-7 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
                            <div class="sm:col-span-4">
                                {% if form.errors %}
                                    <span class="font-dansketext text-warning">{{ form.errors.account_type }}</span>
                                {% endif %}
                                <label for="id_account_type"
                                       class="block text-sm font-dansketext leading-6 text-gray-900">
                                    Account Type
                                </label>
                                <div class="mt-2">
                                    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-form_input focus-within:ring-2 focus-within:ring-inset focus-within:ring-form_outline sm:max-w-md">
                                        <select name="account_type" id="id_account_type" required
                                                class="block flex-1 border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6">
                                            <option value="savings">Savings</option>
                                            <option value="checking">Checking</option>
                                            <option value="Vacation">Vacation</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="account_number" class="mt-7 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
                            <div class="sm:col-span-4">
                                {% if form.errors %}
                                    <span class="font-dansketext text-warning">{{ form.errors.account_number }}</span>
                                {% endif %}
                                <label for="id_account_number"
                                       class="block text-sm font-dansketext leading-6 text-gray-900">
                                    Account Number
                                </label>
                                <div class="mt-2">
                                    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-form_input focus-within:ring-2 focus-within:ring-inset focus-within:ring-form_outline sm:max-w-md">
                                        <input type="text" name="account_number" id="id_account_number"
                                               class="block flex-1 border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                                               placeholder="2330 33405040">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="mt-7 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                            <div class="sm:col-span-4">
                                {% if form.errors %}
                                    <span class="font-dansketext text-warning">{{ form.errors.description }}</span>
                                {% endif %}
                                <label for="id_description" type=""
                                       class="block text-sm font-dansketext leading-6 text-gray-900">
                                    Account Description (Optional)
                                </label>
                                <div class="mt-2">
                                    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-form_input focus-within:ring-2 focus-within:ring-inset focus-within:ring-form_outline sm:max-w-md">
                                        <input type="text" name="description" id="id_description"
                                               class="block flex-1 border-0 bg-transparent py-2 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6"
                                               placeholder="Danske Opsparing">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="mt-3 flex justify-start">
                            <button type="submit"
                                    class="flex mr-2 w-auto justify-center rounded-md bg-button px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-button_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-5">
                                Add Account
                            </button>
                            <a href="{% url 'account' %}">
                                <button type="button"
                                        class="flex w-auto justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-button_hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 mt-5">
                                    Go Back
                                </button>
                            </a>

                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <script>
        const account_type = document.getElementById('id_account_type')
        const account_number = document.getElementById('account_number')
        account_type.addEventListener('change', (e) => {
            if (e.target.value === 'checking' || e.target.value === 'savings') {
                console.log(e.target.value)
                account_number.style.display = 'block'
            } else {
                account_number.style.display = 'none'
            }
        })
    </script>
{% endblock %}
