<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tovborg Finance</title>
    <link rel="icon" href="{% static 'tovborg_finance_logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
    <link rel="stylesheet" href="{% static 'src/fonts.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,600&display=swap" rel="stylesheet" />
    <style>
        @media (min-width: 768px) {
            #menu {
                background-color: transparent !important;
            }

        }
    </style>
</head>
{#mobile-only:!h-[35%] mobile-only:!w-[95%] sm:!w-[65%] sm:!h-[35%] md:!w-[60%] md:!h-[27%] lg:!w-[35%] lg:!h-[35%]#}
{% include "navbar.html" %}
<body class="bg-background h-full">
        {% block content %}
                <!-- Default content block -->
        {% endblock content %}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        document.querySelector('#menuToggle').addEventListener('click', () => {
            let menu = document.getElementById('menu');
            let icons = document.querySelectorAll('ion-icon');

            menu.classList.toggle('top-[50px]');

            // Toggle visibility of icons based on menu state
            icons.forEach(icon => {
                if (menu.classList.contains('top-[50px]')) {
                    if (icon.id === 'menuToggle') {
                        return;
                    } else {
                        icon.style.display = 'none';
                    }
                     // Hide icon
                } else {
                    icon.style.display = 'inline-block'; // Show icon
                }
            });
        });

    </script>
</body>
{% include "footer.html" %}
</html>
