<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS</title>
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
    <style>
        @media (min-width: 768px) {
            #menu {
                background-color: transparent !important;
            }
        }
    </style>
</head>
{% include "navbar.html" %}
<body class="bg-green-50">
    <div class="container mx-auto mt-4">
        {% block content %}

        {% endblock content %}
    </div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
    document.querySelector('#menuToggle').addEventListener('click', ()=>{
        let menu = document.getElementById('menu');

        menu.classList.toggle('top-[50px]')
    });
</script>
</body>

</html>