<!-- templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django + Tailwind CSS</title>
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
    <style>
        @media (min-width: 768px) {
            #menu {
                background-color: transparent !important;
            }
        }
    </style>
    <link href="https://db.onlinewebfonts.com/c/bfe4f8043b7030ba6b13678f3a1e8363?family=Danske+Text+v2+Regular" rel="stylesheet">
</head>
{% include "navbar.html" %}
<body class="bg-background h-full">

        {% block content %}
                <!-- Default content block -->
        {% endblock content %}



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        document.querySelector('#menuToggle').addEventListener('click', ()=>{
            let menu = document.getElementById('menu');
            menu.classList.toggle('top-[50px]');
        });
    </script>
</body>
</html>
