{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mx-auto mt-10">
        <h1 class="text-5xl text-black font-dansketext text-center mb-7">Your Paychecks</h1>
        <hr class="my-5 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />
         <div class="flex justify-center mb-6">
            <button class="px-4 py-2 font-semibold text-gray-700 bg-gray-200 rounded-t-lg focus:outline-none active" id="view-paychecks-tab">View Paychecks</button>
            <button class="px-4 py-2 ml-2 font-semibold text-gray-700 bg-gray-200 rounded-t-lg focus:outline-none" id="add-paycheck-tab">Add Paycheck</button>
        </div>

    </div>

{% endblock %}