{% extends 'base.html' %}
{% block content %}

        {% if analysis_results %}
        <form method="post" action="{% url 'confirmReceiptAnalysis' account.name %}">
            {% csrf_token %}
            <div class="flex justify-center mt-10 mobile-only:mt-0">
                <div class="bg-cards rounded-lg h-[100%] mb-3 sm:w-[60%] md:w-[60%] lg:w-[40%] mobile-only:h-full mobile-only:w-full shadow-lg p-6">
                    <div id="action_icons_info" class="flex flex-row justify-between mt-2">
                        <div class="flex justify-start">
                            <a href="{% url 'new_transaction_choice' account.name %}"><ion-icon class="text-3xl text-gray-500" name="arrow-back-outline"></ion-icon></a>
                        </div>
                        <div class="flex justify-end">
                            <button id="delete_acc_btn"><ion-icon class="text-3xl text-warning" name="trash"></ion-icon></button>
                        </div>
                    </div>
                    <hr class="mt-6 border-gray-500" />
                    <div id="paycheck_info" class="mt-6 space-y-6">
                        {% if form.errors %}
                            <div class="w-full bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                                <strong class="font-bold">Oops!</strong>
                                <span class="block sm:inline">Something went wrong. Please look over these errors.</span>
                                <ul>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <li>

                                                <ul>
                                                    {% for error in field.errors %}
                                                        <li class="font-dansketext text-warning"><strong class="font-bold">{{ field.label }}:</strong> {{ error }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <li class="font-dansketext text-warning">{{ error }}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="flex flex-row justify-between">
                            <span class="font-semibold">Account</span>
                            <span class="font-dansketext" id="paycheck_amount">{{ account }}</span>
                        </div>
                        <div class="flex flex-row justify-between">
                            <span class="font-semibold">Merchant Name</span>
                            <span class="font-dansketext flex items-center">
                                <input name="merchant_name" id="id_merchant_name" type="text" value="{{ merchant_name }}" class="border rounded px-2 py-1 bg-transparent" required>
                            </span>
                        </div>
                        <div class="flex flex-row justify-between">
                            <span class="font-semibold">Merchant Phone Number</span>
                            <span class="font-dansketext flex items-center">
                                <input name="merchant_phone_number" id="id_merchant_phone_number" type="text" value="{{ merchant_phone_number }}" class="border rounded px-2 py-1 bg-transparent">
                            </span>
                        </div>
                        <div class="flex flex-row justify-between">
                            <span class="font-semibold">Merchant Address</span>
                            <span class="font-dansketext flex items-center">
                                <input name="merchant_address" id="id_merchant_address" type="text" value="{{ merchant_address }}" class="border rounded px-2 py-1 bg-transparent">
                            </span>
                            </div>
                        <div class="flex flex-row justify-between">
                            <span class="font-semibold">Transaction Date</span>
                            <span class="font-dansketext flex items-center">
                                <input name="transaction_date" id="id_transaction_date" required type="date" value="{{ transaction_date }}" class="border rounded px-2 py-1 bg-transparent">
                            </span>
                        </div>
                        <div class="flex flex-row justify-between">
                            <span class="font-semibold">Transaction Time</span>
                            <span class="font-dansketext flex items-center">
                                <input name="transaction_time" id="id_transaction_time" required type="time" value="{{ transaction_time }}" class="border rounded px-2 py-1 bg-transparent">
                            </span>
                        </div>
                        {% if Items %}
                            <hr class="mt-6 border-gray-500" />
                            {% for item in Items %}
                            <div class="flex flex-row justify-between">
                                <span class="font-semibold">Item Description</span>
                                <span class="font-dansketext flex items-center">
                                    <input required name="description_{{ forloop.counter }}" id="id_description_{{ forloop.counter }}" type="text" value="{{ item.Description }}" class="border rounded px-2 py-1 bg-transparent">
                                </span>
                            </div>
                            <div class="flex flex-row justify-between">
                                <span class="font-semibold">Item Quantity</span>
                                <span class="font-dansketext flex items-center">
                                    <input required name="quantity_{{ forloop.counter }}" id="id_quantity_{{ forloop.counter }}" type="number" value="{{ item.Quantity }}" class="border rounded px-2 py-1 bg-transparent">
                                </span>
                            </div>
                            <div class="flex flex-row justify-between">
                                <span class="font-semibold">Item Price</span>
                                <span class="font-dansketext flex items-center">
                                    <input required name="price_{{ forloop.counter }}" id="id_price_{{ forloop.counter }}" type="number" value="{{ item.TotalPrice }}" class="border rounded px-2 py-1 bg-transparent">
                                </span>
                            </div>
                            <hr class="mt-6 border-gray-500" />
                            {% endfor %}
                        {% endif %}
                        <div class="flex flex-row justify-between">
                            <span class="font-semibold">Subtotal</span>
                            <span class="font-dansketext flex items-center">
                                <input name="subtotal" id="id_subtotal" type="number" value="{{ Subtotal }}" class="border rounded px-2 py-1 bg-transparent">
                            </span>
                        </div>
                        <div class="flex flex-row justify-between">
                            <span class="font-semibold">Tax</span>
                            <span class="font-dansketext flex items-center">
                                <input name="tax" id="id_tax" type="number" value="{{ tax }}" class="border rounded px-2 py-1 bg-transparent">
                            </span>
                        </div>
                        <div class="flex flex-row justify-between">
                            <span class="font-semibold">Total</span>
                            <span class="font-dansketext flex items-center">
                                <input name="total" id="id_total" type="number" value="{{ total }}" class="border rounded px-2 py-1 bg-transparent" required>
                            </span>
                        </div>
                        <div class="flex flex-row justify-between">
                            <span class="font-semibold">Currency</span>
                            <span class="font-dansketext" id="account_number">{{ currency }}</span>
                        </div>
                        <hr class="mt-6 border-gray-500" />
                        <button type="submit" id="confirm_button" style="background: limegreen !important;" class="w-full font-dansketext hover:bg-accent-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline flex items-center justify-center space-x-2">
                            <span>Confirm</span>
                            <ion-icon class="ml-3" name="checkmark-outline"></ion-icon>
                        </button>

                    </div>
                </div>
            </div>
        </form>
        <div id="modal" class="hidden fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-50">
            <div class="bg-gray-800 p-4 rounded shadow-lg mobile-only:w-[95%] sm:w-[75%] md:w-[60%] lg:w-[50%] xl:w-[35%]">
                <div class="flex justify-end">
                    <ion-icon name="close-outline" class="text-3xl text-gray-300"></ion-icon>
                </div>
                <div class="flex justify-center">
                    <ion-icon name="alert-circle-outline" class="text-5xl text-gray-200"></ion-icon>
                </div>
                <div class="flex justify-center mt-4 font-dansketext text-2xl text-center text-gray-400">Are you sure you want to delete this paycheck?</div>
                <div class="flex flex-row justify-center mt-7">
                    <form action="" method="post">
                        {% csrf_token %}
                        <button type="submit" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                            Yes, I'm sure
                        </button>
                    </form>
                    <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No, cancel</button>
                </div>
            </div>
        </div>
        {% else %}
            <p>No analysis results available.</p>
        {% endif %}
{% endblock %}
